@import url('variables.css');

@media screen and (min-width: 1920px) {
    
    /*General ----------------------------*/
    h2{
        font-size: var(--grande-pc);
    }

    p{
        font-size: var(--normal-pc);
    }

    button{
        font-size: var(--normal-pc);
    }

    body{
        margin-top: var(--rem6);
        margin-bottom: var(--rem6);
        margin-left: var(--rem6);
    }
}


@media screen and (max-width: 1681px) {
    /*General ----------------------------*/
    h2{
        font-size: var(--grande);
    }

    p{
        font-size: var(--normal);
    }

    button{
        font-size: var(--normal);
    }

    body{
        margin-top: var(--rem2);
        margin-bottom: var(--rem2);
        margin-left: var(--rem2);
    }

    /*----------------------------------*/

    .desencripta{
        padding: 3rem;
    }

}

@media screen and (max-width: 1280px) {
    /*General ----------------------------*/
    h2{
        font-size: var(--grande-m);
    }

    p{
        font-size: var(--normal-m);
    }

    button{
        font-size: var(--normal-m);
    }

    .desencripta{
        padding: 2rem;
    }

    .encripta__text{
        font-size: var(--normal-m);
        width: 320px;
    }
    .desencripta__img{
        width: 200px;
    }
    /*----------------------------------*/

    .desencripta__img{
        width: 100%;
    }
}

/* MOVILE-----------------------------------------------------*/

@media screen and (max-width: 600px) {

    /*General ---------------------------*/
    body{
        margin-top: var(--rem2);
        margin-right: var(--rem2);
        margin-left: var(--rem2);
        margin-bottom: 0;
    }

    /* -------------------------------*/
    .encriptador{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .encripta{
        width: 100%;
    }

    .encripta__text{
        width: calc(100vw - 4 * var(--rem2));
    }

    .desencripta{
        width: auto; /*-----*/
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 2rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--border-radio);
    }

    .desencripta__img{
        width: 70%;
    }

}



@media screen and (max-width: 518px) {
    

}

@media screen and (max-width: 518px) {
    .encripta__text{
        width: 270px;
    }
    .desencripta__img{
        width: 200px;
    }

}

@media screen and (max-width: 321px) {
    .encripta__text{
        width: 270px;
    }
    .desencripta__img{
        width: 200px;
    }

} */