@import url('variables.css');


body{
    background-color: var(--background-letra-N);
    font-family: var(--font);
    margin-top: var(--rem2); /*-------------*/
    margin-bottom: var(--rem2);
    margin-left: var(--rem2);
}

h2{
    font-family: var(--font);
    font-size: var(--grande);
    font-weight: var(--regular);
}

p{
    font-family: var(--font);
    font-size: var(--normal);
    font-weight: var(--extra-light);
}

button{
    font-family: var(--font);
    font-size: var(--normal);
    font-weight: var(--regular);
    border-radius: var(--border-radio);
    padding-top: var(--rem05);
    padding-bottom: var(--rem05);
    width: 250px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}

/*Barra Scroll*/
*::-webkit-scrollbar {
	-webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
	width: 8px;
	background: none;
}
*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
	display: none;
}
*::-webkit-scrollbar:horizontal {
	height: 5px;
	background: none;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--secundario-B);
	border-radius: 20px;
	border: none;
}
*::-webkit-scrollbar-track {
	border-radius: 500px;
}

/*Clases------------------------------------------*/

/*Encripta*/
.encriptador, .encripta{
    display: flex;
    width: 100%;
    gap: var(--rem2);
}

.encripta{
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.logo__alura{
    height: 48px;
}

.encripta__grupo__text{
    display: flex;
}

.encripta__text{
    font-family: var(--font);
    background-color: transparent;
    border: none;
    font-size: var(--normal);
    height: 50vh;
    width: calc(50vw - 2 * var(--rem2));
    color: var(--background-letra-B);
    appearance: none;
    -webkit-appearance: none;
    resize: none;
}

.encripta__text:focus{
    outline: none;
}


.encripta__grupo__p{
    color: var(--secundario-B);
    font-size: var(--normal-m);
    display: flex;
    align-items: center;
}
.encripta__grupo__p > svg{
    margin-right: var(--rem05);
}


.encripta__botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--rem2);

}

.encripta__botonPrincipal{
    background-color: var(--principal);

}

.encripta__botonPrincipal:hover{
    box-shadow: var(--sombra-boton);
}

.encripta__botonSecundario{
    background-color: var(--background-letra-B);
    border: var(--borde-linea);

}

.encripta__botonSecundario:hover{
    background-color: var(--principal);
    box-shadow: var(--sombra-boton);
}

/*Desencripta*/
.desencripta{
    width: 50%; /*-----*/
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-letra-B);
    box-shadow: var(--sombra-principal);
    padding: 5rem;
    border-bottom-left-radius: var(--border-radio);
    border-top-left-radius: var(--border-radio);
    gap: var(--rem05);
    overflow-y: hidden;
}

.desencripta__tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.desencripta__tooltip.iconVisible .desencripta__tooltiptext {
    visibility: visible;
}

.iconVisible .desencripta__tooltiptext {
    opacity: 0.9;
}


.desencripta__tooltiptext{
    visibility: hidden;
    background-color: var(--secundario-B);
    color: var(--background-letra-N);
    text-align: center;
    border-radius: var(--border-radio);
    padding: var(--rem05);
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 20%;
    margin-left: -60px;
    opacity: 0.9;
    transition: opacity 0.4s;
}


.desencripta__text{
    overflow: auto;
    height: min-content; 
    min-height: 2em; 
    word-wrap: break-word; 
}

.desencripta__img{
    align-items: center;
    width: 50%;
}

/*---------------*/
.ocultar{
    display: none;
}

.desencripta__iconCopy{
    width: 25px;
    margin-bottom: var(--rem1);
    color: var(--background-letra-N);
    cursor: pointer;
    transition: 0.4s all !important;
}

.encripta__iconDelate{
    width: 25px;
    margin-top: 0.3rem;
    margin-right: var(--rem05);
    color: var(--background-letra-B);
    cursor: pointer;
    transition: 0.4s all !important;
}

.desencripta__iconCopy:hover,
.encripta__iconDelate:hover{
    color: var(--principal);
}